<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 
<head>
	<title>Music</title>
	<link rel="stylesheet" type="text/css" media="all" href="/10787497-TIW-HTML/CSS/mystyle.css" th:href="@{/CSS/mystyle.css}" />
</head>

<body>
	<header th:fragment="header" class="flex">
		<div class="logo flex">
			<img src="logo.jpeg" alt="">
			<h1>Welcome <span th:text="${session.currentUser.name}"></span></h1>
		</div> 
     
		<ul class="flex" >
			<li><a th:href="@{/goToHomePage}">HomePage</a></li>
			<li><a th:href="@{/logout}">LogOut</a></li>
		</ul>
	</header>
</body>

</html>