<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Music</title>
</head>
<body>
	
	<div th:replace="/WEB-INF/header :: header"></div>	
	
	<h2>Your playlists:</h2>
	<div th:if="${playlists == null || playlists.size == 0}" >You still don't have any playlists!</div>
	<div th:if="${playlists.size > 0}">Here are your playlists from the most to the least recently created.</div>
	
	<ul th:each="playlist : ${playlists}">
  		<li>
  			<a th:href="@{/goToPlaylistPage(idPlaylist=${playlist.id},group=1)}">
  				<span th:text="${playlist.name}">Playlist</span>
  			</a>
  			<small th:text="|Created ${playlist.date}|">Creation Date</small>
  		</li>
	</ul>
	
	<!-- <th:block th:each="playlist : ${playlists}">
		<a th:href="@{/goToPlaylistPage(idPlaylist=${playlist.id})}"><button th:text="${playlist.name}">Playlist</button></a><br>
	</th:block> -->
	
	<h2>Create a new playlist:</h2>
	<p th:text="${errorPlaylist}"></p>
	<form action="#" th:action="@{/createPlaylist}" method="POST">
		<input type="text" name="titlePlaylist" placeholder="Name of the playlist" required/><br>
		<p th:if="${songs.size() == 0 || songs == null}">There aren't any songs available, please add a song before creating a playlist.</p>
		<p th:if="${songs.size() > 0}">Choose one or more song in order to create your new playlist:</p>
		<br>
		<th:block th:each="song : ${songs}">
     	 	<input type="checkbox" id="selectedSong" name="selectedSong" th:value="${song.id}">
     	 	<label for="selectedSong" th:text="|${song.title} from ${song.album.title}(${song.album.artist})|"></label> 
     	 	<br>
   	    </th:block>
		<button type="submit">Submit playlist</button>
	</form>
	
	
	<h2>Create a new song:</h2>
	<p th:text="${resultSong}"></p>
	<form action="#" th:action="@{/createSong}" method="POST" enctype='multipart/form-data'>
	    <input type="text" name="title" placeholder="Title" required/><br>
	    <select name="genre" required>
	    	<option selected>Genre</option>
        	<option th:each="genre : ${genres}" th:value="${genre}" th:text="${genre}">Genre</option>
      	</select><br>
      	<p>File audio of the song: </p><input type =file name="audio" placeholder="File Audio" accept="audio/*" required/><br>
      	<input type="text" name="titleAlbum" placeholder="Album Title" required/><br>
      	<input type="text" name="artist" placeholder="Artist" required/><br>
      	<p>Cover of the album: </p><input type =file name="cover" placeholder="Cover" accept="image/*" required/><br>
      	<input type="text" name="year" placeholder="Year of Publication of the Album" required/><br>
		<button type="submit">Submit song</button>
		<!-- <p th:class = "submitResult" th:text="${errorNewSong}"> -->
	</form>
	
	
	
</body>
</html>