<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Music</title>
	<link rel="stylesheet" type="text/css" media="all" href="/10787497-TIW-HTML/CSS/mystyle.css" th:href="@{/CSS/mystyle.css}" />
</head>

<body>
	<div class="container">
		<div th:replace="/WEB-INF/header :: header"></div>	
	
		<div class="content">
			<h2 th:text="${currentPlaylist.name}">Playlist</h2>
			<p th:text="|Created ${currentPlaylist.date}|">Created...</p>
	
			<p th:if="${songsInPlaylist == null || songsInPlaylist.size() == 0}"> This playlist doesn't have any songs yet.</p>
			<p th:if="${errorToPlayer != null}" class="error" th:text="${errorToPlayer}"></p>
		</div>
	
		<table th:if="${songsInPlaylist.size() > 0}">
			<tbody>
				<tr>
					<!-- Left arrow -->
					<td th:if="${group > 1}">
						<a th:href="@{/goToPlaylistPage(idPlaylist=${currentPlaylist.id},group=${group-1})}">
							<i class="arrow left"></i>
							<b>Back</b>
						</a> 
					</td>
					<!-- songs -->
					<td th:each="song : ${songsInPlaylist}">
						<img width="100" th:src="${'data:image/jpeg;base64,'+ song.album.cover}"/><br> 
						<a th:href="@{/goToPlayer(idSong=${song.id}, currentPlaylist=${currentPlaylist.id}, group=${group})}"> 
							<span th:text="${song.title}">Song</span>
						</a>
					</td>
					<!-- right arrow -->
					<td th:if="${next == true}">
						<a th:href="@{/goToPlaylistPage(idPlaylist=${currentPlaylist.id},group=${group+1})}">
							<b>More</b>
							<i class="arrow right"></i>
						</a> 
					</td>
				</tr>
			</tbody>
		</table>
	
		<div class="content">
			<h3>Add another song to your playlist:</h3>
			<p th:if="${errorAddSong != null}" class="error" th:text="${errorAddSong}"></p>
			<p th:if="${songsNotInPlaylist.size() == 0}">This playlist already contains all of your song.</p>
			<th:block th:if="${songsNotInPlaylist.size() > 0}">
				<form action="#" th:action="@{/addSongToPlaylist}" method="POST">
					<input type="hidden" name="idPlaylist" th:value="${currentPlaylist.id}">
					<select name="selectedSong" required>
	    				<option selected>---</option>
        				<option th:each="song : ${songsNotInPlaylist}" th:value="${song.id}" th:text="|${song.title} from ${song.album.title}(${song.album.artist})|">Song</option>
      				</select>
      				<br>
					<button type="submit">Submit Song</button>
				</form>
			</th:block>
		</div>
	
	</div>

</body>

</html>