<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Music</title>
</head>

<body>
	<div th:replace="/WEB-INF/header :: header"></div>	

	<h3 th:text="${currentPlaylist.name}">Playlist</h3>
	<p th:text="|Created ${currentPlaylist.date}|">Created...</p>
	
	<ul th:each="song : ${songsInPlaylist}">
			<li th:text="|${song.title} - ${song.album.title}|"> Song </li>
		
	</ul>
	
	<p th:if="${songsInPlaylist == null || songsInPlaylist.size() == 0}"> This playlist doesn't have any songs yet.</p>
	
	<button >Previous</button>
	<table th:if="${songsInPlaylist.size() > 0}">
		<tbody>
			<tr>
				<th:block th:each="song : ${songsInPlaylist}">
					<td>
						<div>
							<img width="100" th:src="${'data:image/jpeg;base64,'+ song.album.cover}"/><br> 
							<a th:href="@{/goToSongPage(idSong=${song.id}, currentPlaylist=${currentPlaylist.id})}"><span th:text="${song.title}">Song</span></a>
							<br>
							<!-- <p th:text="|${song.album.artist}(${song.album.title}|">Artist (Album)</p> -->
						</div>
					</td>
					<td> </td>
				</th:block>
			</tr>
		</tbody>
	</table>
	<button>Following</button>
	
	
	<!-- 
	<table class=songsTable>
			<tbody>
				<tr>
					<td th:each="s : ${songsInPlaylist}">
						<table class=simpleTable>
							<tbody>
								<tr>
									<td>
										<img th:src="@{GetImage/{image}(image=${s.album.cover})}" />
									</td>
								</tr>
								<tr>
									<td>
										<a th:href="@{GoToSongPage(songId=${s.id} , playlistId=${playlist.id}"> 
										<span th:text="${s.title}"></span>   </a> 
									</td>
								</tr>
							</tbody>
						</table>
					</td>		
				</tr>
			</tbody>
	</table>
	
	 
	<h3 th:if="${songsNotInPlaylist.size() > 0}">Add another song to your playlist:</h3>
	<form>
		<select name="addSong" required>
	    	<option selected>Your Song</option>
	    	
        	<option th:each="song : songsNotInPlaylist" th:value="${song.id}" th:text="|${song.title} from ${song.album.title}(${song.album.artist})|">Song</option>
      	</select>
      	<br>
		<button type="submit">Submit Song</button>
	</form>
	-->

</body>
</html>