<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>10787497-TIW-HTML</display-name>
  
  
  <context-param>
    <param-name>dbUrl</param-name>
    <param-value>jdbc:mysql://localhost:3306/PlayListMusicale?serverTimezone=UTC</param-value>
  </context-param>
  <context-param>
    <param-name>dbUser</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>dbPassword</param-name>
    <param-value>mt27112000</param-value>
  </context-param>
  <context-param>
    <param-name>dbDriver</param-name>
    <param-value>com.mysql.cj.jdbc.Driver</param-value>
  </context-param>
  
  
  <welcome-file-list>
    <welcome-file>loginPage.html</welcome-file>
  </welcome-file-list>
  
 
	<servlet>
		<servlet-name> Login </servlet-name> 
		<servlet-class> it.polimi.tiw.music.controllers.Login </servlet-class>
     </servlet>
     <servlet-mapping>
           <servlet-name> Login </servlet-name>
           <url-pattern> /Login </url-pattern>
     </servlet-mapping>
     
     <servlet>
		<servlet-name> Logout </servlet-name> 
		<servlet-class> it.polimi.tiw.music.controllers.Logout </servlet-class>
     </servlet>
     <servlet-mapping>
           <servlet-name> Logout </servlet-name>
           <url-pattern> /logout </url-pattern>
     </servlet-mapping>
     
     <servlet>
		<servlet-name> GoToHomePage </servlet-name> 
		<servlet-class> it.polimi.tiw.music.controllers.GoToHomePage </servlet-class>
     </servlet>
     <servlet-mapping>
           <servlet-name> GoToHomePage </servlet-name>
           <url-pattern> /goToHomePage </url-pattern>
     </servlet-mapping>
     
     <servlet>
		<servlet-name> GoToPlaylistPage </servlet-name> 
		<servlet-class> it.polimi.tiw.music.controllers.GoToPlaylistPage </servlet-class>
     </servlet>
     <servlet-mapping>
           <servlet-name> GoToPlaylistPage </servlet-name>
           <url-pattern> /goToPlaylistPage </url-pattern>
     </servlet-mapping>
     
     <servlet>
		<servlet-name> GoToSongPage </servlet-name> 
		<servlet-class> it.polimi.tiw.music.controllers.GoToSongPage </servlet-class>
     </servlet>
     <servlet-mapping>
           <servlet-name> GoToSongPage </servlet-name>
           <url-pattern> /goToSongPage </url-pattern>
     </servlet-mapping>
     
     <servlet>
		<servlet-name> CreateSong </servlet-name> 
		<servlet-class> it.polimi.tiw.music.controllers.CreateSong </servlet-class>
		<multipart-config>
        	<max-file-size>16177215</max-file-size>
        	<max-request-size>20971520</max-request-size>
        	<file-size-threshold>5242880</file-size-threshold>
    	</multipart-config>
     </servlet>
     <servlet-mapping>
           <servlet-name> CreateSong </servlet-name>
           <url-pattern> /createSong </url-pattern>
     </servlet-mapping>
     
      <servlet>
		<servlet-name> CreatePlaylist </servlet-name> 
		<servlet-class> it.polimi.tiw.music.controllers.CreatePlaylist </servlet-class>
     </servlet>
     <servlet-mapping>
           <servlet-name> CreatePlaylist </servlet-name>
           <url-pattern> /createPlaylist </url-pattern>
     </servlet-mapping>
	
</web-app>